{% extends "base.html" %}

{% block content %}
  <div class="newpost">
    <h2>New Post</h2>
    <form method="post">
      <label class="post_title" >
        <input type="text" placeholder="Title" name="subject" value="{{subject}}">
      </label>
      <label class="post_content">
        <textarea class="post_content" placeholder="Tell your story" name="content">{{content}}</textarea>
      </label>
      <div class="error">{{error}}</div>
      <input type="submit">
    </form>
  </div>
{% endblock %}
